/*-----------------------
 Search Bar Style Sheet
-----------------------*/
.wrapper-simple {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 45px;
    padding: 10px 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5fafe), to(#e2edf4));
    border-radius: 5px;
    box-shadow: inset rgba(255, 254, 255, 1) 0 0.1em 2px,
                    #9bb6c9 0 1px 2px;
    position: relative;
}
 
.wrapper-simple input[type=submit] {
    margin-top: .2em;
    z-index: 2;
    position: relative;
    vertical-align: top;
    height: 43px;
    min-width: 55px;
    border-radius: 3px;
    border: 1px solid #aa7818;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb700), to(#ff8c00));
    box-shadow: inset rgba(255, 255, 255, .5) 0 0.1em 0.1em;
    cursor: pointer;
}
 
    .wrapper-simple input[type=submit]:active {
        box-shadow: inset rgba(0,0,0,.4) 0 1px 1px;
    }
 
    .wrapper-simple input[type=submit]:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#ffcb48), to(#ff9c23));
    }
 
.wrapper-simple input[type=text] {
    font-family: Arial;
    font-weight: bold;
    color: #1a3d51;
    background: #d8e6ef;
    border-radius:2px;
    padding: 10px 10px 15px 10px;
    width: 250px;
    border: 0;
    font-size: 16px;
    text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
    box-shadow: inset rgba(0,0,0,.4) 0 1px 1px;
    position: absolute;
    width: 1px;
    z-index: 2;
    padding-left: 2em;
    margin-left: .2em;
}
 
.wrapper-simple img {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    z-index: 4;
}
